
@font-face {
  font-family: 'CircularStd-Black';
  src: url('/fonts/CircularStd-Block.otf'); /* IE9 Compat Modes */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('/fonts/CircularStd-Book.otf'); /* IE9 Compat Modes */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('/fonts/HelveticaNeueLTPro-Md.otf'); /* IE9 Compat Modes */
  font-style:   normal;
  font-weight:  400;
}

