/*
@import "bootstrap.scss";
*/
@import "variables";



h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}


.content_container {
    min-width: 532px;
    width: 90%;
    padding-top: 30px;
    margin: 0px auto;

    .header {
        text-align: center;
    }
}

.document {

	.content {
		display: table;
	}

	.title, .date {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	.level_0,
	.level_1,
	.level_2,
	.level_3,
	.level_4,
	.level_5,
	.level_6 {
		
		font-family: georgia,"times new roman",times,serif;
		position: relative;
		display: table-row;

		.section {
			display: table-cell;
			width: 30px;
			font-weight: bold;
			color: #999;
			text-align: right;
		}

		.element_stats {
			font-family: CircularStd-Black;
			font-size: 18px;
			color: #282828;
			line-height: 23px;

			div {
				display: inline-block;
				border-top: 1px solid #000;

				&.down {
					color: #D1D1D1;
					border-top: 1px solid #D1D1D1;
					
				}
			}

		}

		.element_body {
			display: table-cell;
			padding-bottom: 40px;
			padding-right: 30px;
			padding-left: 10px;
		}

		.element_actions {
			padding: 0px 0px 60px 20px;
			display: table-cell;
			vertical-align: middle;
			font-size: 24px;

			span {
				padding-bottom: 3px;
				padding-top: 3px;
				color: #CCC;
				cursor: pointer;

				&:hover {
					color: #666;
				}
			}
		}
	}

	.level_0,
	.level_1,
	.level_2 {
		margin-left: -70px;
		margin-right: -70px;
		font-size: 20px;
		font-weight: bold;
		padding: 30px 0px 0px 0px;

		.section {
		    top: 30px;
	    }
	}

	.level_3 {
		font-size: 24px;
		font-weight: bold;
		padding: 20px 0px 10px 0px;

		.section {
		    top: 20px;
	    }
	}

	.level_4 {
		font-size: 18px;
		font-weight: bold;
		padding: 10px 0px 10px 0px;

		.section {
		    top: 10px;
	    }
	}

	.level_5 {
		padding: 20px 10px;
		line-height: 23px;
		font-size: 16px;
	    font-weight: 400;

	    min-height: 200px;
		
		.section {
		    top: 20px;
		    padding-right: 10px;
	    }
	}

	.level_6 {
		padding: 5px 20px;
		position: relative;
		line-height: 18px;
		font-size: 12px;
	    font-weight: 400;

	    .section {
		    top: 5px;
	    	font-size: 12px;
	    	padding-right: 5px;
	    }
	}


}

