@import "bootstrap.scss";

@import "variables";
@import "fonts";

body {
    padding: 0 0 60px 0;
    maring: 0px;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}


.content_container {
    width: 800px;
    margin: 0px auto;

    .header {
        text-align: center;
    }
}

.document {


	.title, .date {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	.root_section {
		font-size: 30px;
		float: left;
		margin-left: -40px;
	}

	.sub_section {
		font-size: 24px;
		font-weight: bold;
		padding: 20px 0px;
	}

	.paragraph {
		padding: 20px 10px;
		position: relative;

		.section {
			position: absolute;
			top: 20px;
			left: 0px;
			width: 30px;
			font-size: 20px;
			font-weight: bold;
			color: #CCC;
			text-align: right;
			margin-left: -30px;
		}

		.element_actions {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 100px;
			margin-top: 30px;
			margin-right: -100px;
		}
	}


}

