
@import "fonts";

body {
    padding: 0 0 60px 0;
    maring: 0px;
    font-family: CircularStd-Black;
}

@media (max-width: 1024px) {

	.page {
		.title {
			&.big {
				font-size: 20px;
			}
		}
	}

}

.full {
	width: 100%;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.page {

	.head {
		padding: 40px 60px;

		.nav {
			display: inline-block;

			div {
				float: left;
				padding: 10px 20px;
				/* LOGIN / REGISTER: */
				font-family: CircularStd-Book;
				font-size: 13px;
				color: #ACACAC;
				letter-spacing: 1.38px;
				line-height: 22px;

				a {
					color: #ACACAC;	
				}
			}
		}
	}
	
	.title {
		font-family: CircularStd-Black;

		a {
			color: #000;
		}

		&.logo {
			/* GITIZEN: */
			font-family: CircularStd-Black;
			font-size: 26px;
			color: #000000;
			letter-spacing: 2.76px;
			line-height: 51px;
			text-transform: uppercase;
		}

		&.big {
			color: #000000;
			letter-spacing: 4px;
			text-transform: uppercase;

			/* GITIZEN: */
			@media screen and (max-width: 1024px) {
				font-size: 20px;
				line-height: 25px;
			}
			@media screen and (min-width: 1024px) {
				font-size: 50px;
				line-height: 55px;
			}
		}

		&.sub {
			/* Government Documents: */
			opacity: 0.47;
			font-family: HelveticaNeue-Medium;
			color: #464646;

			@media screen and (max-width: 1024px) {
				font-size: 12px;
				line-height: 14px;
			}

			@media screen and (min-width: 1024px) {
				font-size: 18px;
				line-height: 21px;
			}
		}
	}
	
	.doc_boxes {
		margin: 0px auto;
		text-align: center;

		.doc_box {
			padding: 5px;
			width: 250px;
			height: 250px;
			margin: 20px;
			display: inline-block;
			position: relative;
			cursor: pointer;
			overflow: hidden;

			/* Mask: */
			background-color: #FFD23A;
			box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.18);

			&:hover {
				background-color: #FFDF3A;
				box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);

				/*
				padding: 7px 5px 5px 7px;
				*/

				.title {
					color: #000;
				}

				.action_count {
					opacity: 0.8;
				}
			}

			&.suggest {
				background: #FBFBFB;
				border: 1px solid #E7E7E7;
				box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.18);
			}

			.title {
				left: 10%;
				width: 80%;
				padding: 30px 30px 0px 30px;
				text-transform: uppercase;

			
				/* THE IRAN NUCLEAR AGR: */
				font-family: CircularStd-Black;
				font-size: 21px;
				color: #444444;
				letter-spacing: 1.04px;
				line-height: 28px;
				display: inline-block;
				vertical-align: middle;

				&.sub {
					padding-top: 10px;
					font-size: 12px;
					line-height: 14px;
				}
			}

			.action_count {
				position: absolute;
				bottom: 10px;

				display: inline-block;

				font-family: CircularStd-Black;
				font-size: 30px;
				line-height: 42px;
				opacity: 0.8;

				&.up {
					color: #FFFFFF;
					right: 10px;
				}

				&.down {
					color: #282828;
					left: 10px;
				}
			}
		}

	}

	.footer {
		hr {
			width: 200px;
			color: #979797;
		}
		/* Copyright, 2015: */
		font-family: CircularStd-Book;
		font-size: 13px;
		color: #ACACAC;
		letter-spacing: 1.38px;
		line-height: 22px;
	}



}

