<div class="page">

	<div class="head right">
		<div class="nav">
			<div class="item"><a href="#">LOGIN / REGISTER</a></div>
			<div class="item"><a href="#">ABOUT</a></div>
			<div class="item"><a href="#">CONTACT</a></div>
		</div>
	</div>


	<div class="full center">
		<div class="title big">
			GITIZEN
		</div>
		<div class="title sub">
			Government documents reviewed and discussed by the public.
		</div>
	</div>

	<BR/><BR/>

	<div class="doc_boxes">
		<div ng-repeat="doc in docs"
			 class="doc_box" ng-click="state.go('doc', { 'id': doc.id})">
			<div class="title">{{doc.name}}</div>
			<div class="title sub">{{doc.subtitle}}</div>
			<div class="action_count up">{{doc.important_count}}</div>
			<div class="action_count down">{{doc.suspicious_count}}</div>
		</div>
		<div class="doc_box suggest">
			<div class="title">SUGGEST ANOTHER DOCUMENT</div>
		</div>
	</div>

	<BR/><BR/>

	<div class="footer center">
		<hr>
		Copyright, 2015
	</div>
</div>