<div class="content_container">
  <div class="header">
    <h2>Gitizen</h2>
    <h5>government documents curated and discussed by the public</h5>
  </div>

  <div class="document">
    <div class="title">{{document.name}}</div>
    <div class="date">{{document.date}}</div>
    <div class="content">
      <div ng-repeat="element in document_root" ng-if="element.level > 0 && element.body.length > 0" class="level_{{element.level}}">
        <div class="section">{{element.numeral}}</div>
        <div class="element_actions" ng-if="element.level == 5">
          <div class="element_action">
            <button type="button" class="btn btn-default" aria-label="Left Align"
              ng-click="addImportance(element)">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="number">{{element.importances}}</span>
              <span class="title"><BR/>Important</span>
            </button>
          </div>
          <div class="element_action">
            <button type="button" class="btn btn-default" aria-label="Left Align"
              ng-click="addSuspicion(element)">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="number">{{element.suspicions}}</span>
              <span class="title"><BR/>Suspicious</span>
            </button>
          </div>
          <div class="element_action">
            <button type="button" class="btn btn-default" aria-label="Left Align"
              ng-click="addFluff(element)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <span class="number">{{element.fluffs}}</span>
              <span class="title"><BR/>Fluff</span>
            </button>
          </div>
        </div>
        {{element.body}}
      </div>
    </div>
  </div>
</div>